<%= form_with(model: shopping_list_item) do |form| %>
  <% if shopping_list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shopping_list_item.errors.count, "error") %> prohibited this shopping_list_item from being saved:</h2>

      <ul>
        <% shopping_list_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :collected %>
    <%= form.check_box :collected %>
  </div>

  <div class="field">
    <%= form.label :shopping_list_id %>
    <%= form.text_field :shopping_list_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
